* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

 html body {
    height: 100vh;
    box-sizing: border-box;
}


.finale {
    background-image: url(https://media3.giphy.com/media/26tOZ42Mg6pbTUPHW/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: #F0F2A6;
    text-transform: uppercase;
}

img {
    width: 70%;
}

.para {
    font-size: 30px;
    background-color: #F0F2A6;
    margin: 40px 0;
    padding: 20px;
    position: relative;
    top: 30%;
}

.main {
    margin: 0 auto;
    width: 50%;
    height: 100%;
    text-align: center;
}

.btn {
    width: 150px;
    height: 70px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 50px;
    color: #000;
}

.btn:hover {
    cursor: pointer;
    position: relative;
    bottom: 2px;
    background-color: #F0F2A6;
    color: #fff;
    box-shadow: #eee 10px 10px 5px;
}

.span {
    color: #F0F2A6;
    font-size: 60px;
    display: block;
    margin-top: 100px;
}

